<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Travel App ====> BoooooooM!!!</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- header & navbar -->
    <header class="header" id="header">
      <div class="nav container">
        <a href="###" class="nav_logo">Capri travel</a>
        <div class="nav_menu" id="nav-menu">
          <ul class="nav_list" id="nav-list">
            <li class="nav_item" id="nav-item"><a href="" class="nav_link" id="nav-links">home</a></li>
            <li class="nav_item" id="nav-item"><a href="" class="nav_link">packages</a></li>
            <li class="nav_item" id="nav-item"><a href="" class="nav_link">about</a></li>
            <li class="nav_item" id="nav-item"><a href="" class="nav_link">book</a></li>
          </ul>
        </div>
        <div class="mobile_menu" id="mobi-menu">
          <span class="navbar__toggle" id="toggle"></span>
          <span class="navbar__toggle"></span>
          <span class="navbar__toggle"></span>
          
        </div>
      </div>
    </header>

    <div class="main">

        <section class="home_container container grid">
          <div class="text_holder">
            <p>Discover your place</p>
            <h1>explore your best destination</h1>
          </div>
          <div class="booking" id="booking">
            <input type="text" id="location" placeholder="Enter your destination">
            <div class="date_holder">
              <label for="start-date">start date</label>
              <input type="date" id="start-date">
            </div>
            <div class="date_holder">
              <label for="text">end date</label>
              <input type="date" id="end-date">
            </div>
            <a href="" class="home_btn btn" id="sub">submit</a>
          </div>
         
        </section>  
     

    </div>
    <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      } -->
    </script>
  </body>
</html>